extends layout

block content
  br
  .row
    .col-md-1
      a.btn.btn-primary(href="/block/" + (block.number - 1), role="button") Previous
    .col-md-10.text-center
      h3 Block #{block.number}
    .col-md-1
      a.btn.btn-primary(href="/block/" + (block.number + 1), role="button") Next

  table.table
    tr
      td Hash:
      td #{block.hash}
    tr
      td Parent hash:
      td
        a(href="/block/" + block.parentHash) #{block.parentHash}
    tr
      td Miner:
      td
        #{nameformatter.format(block.author)}
    tr
      td Gas Limit:
      td #{numeral(block.gasLimit).format()}
    tr
      td Gas Used:
      td #{numeral(block.gasUsed).format()}
    tr
      td Difficulty:
      td #{numeral(block.difficulty).format()}
    tr
      td Total Difficulty:
      td #{numeral(block.totalDifficulty).format()}
    tr
      td Timestamp:
      td #{moment.unix(block.timestamp).format()} (#{moment.unix(block.timestamp).fromNow()})
    tr
      td Size:
      td #{numeral(block.size).format()}
    tr
      td Transactions:
      td #{block.transactions.length}
    tr
      td Uncles:
      td
        each uncle, index in block.uncles
          p
            a(href="uncle/" + block.hash + "/" + index) #{index + " - " + uncle}

  h4 Transactions
  if block.transactions.length === 0
    p Block does not contain any transactions.
  else
    table.table
      thead
        tr
          th Hash
          th Type
          th From
          th To
          th Amount
      tbody
        for tx in block.transactions
          tr
            td
              if tx.error
                span(style="color: red", data-toggle="tooltip", data-placement="left", title=tx.error).glyphicon.glyphicon-warning-sign
              a(href="/tx/" + tx.hash)  #{tx.hash.substr(0, 10)}...
            td Tx
            td
              #{nameformatter.format(tx.from)}
            td
              if tx.to
                #{nameformatter.format(tx.to)}
              else
                | New Contract
            td #{ethformatter(tx.value)}
